@{
    ViewData["Title"] = "Home Page";
}

<div class="container center-align">
    <h1 class="blue-text text-darken-2">Welcome</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core" target="_blank" class="blue-text text-darken-3">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>
